* {
    font-family: 'Cormorant Garamond', serif;
}

.loginTitle {
    font-size: 36px;
}

p {
    margin: 14px 0 !important;
}

.sidenav li a {
    font-size: 1.5rem;
}

.lead {
    font-size: larger;
}


.login-container {
    width: 400px;
    margin-top: 50px;
    text-align: center;
}

.fa-small {
    font-size: 16px !important;
}

.btn-float {
    float: left;
    margin-right: 10px;
}

.img-small {
    width: 180px
}